body{
    display:flex;
    flex-direction: column;
    margin: 0;
    background-color: rgb(55, 161, 211);
    background-image: linear-gradient(to top right, rgb(168, 227, 255), rgb(40, 114, 148));
    
    height: 100vh;
}

label{
    color: rgb(235, 235, 235);
    font-family: 'Paytone One';
}

p{
    color: rgb(235, 235, 235);
    font-family: 'Lato';
}
    
h1 {
    font-family: 'Paytone One';
}
.top{
    font-size: 24px;
}
input{
    font-family:'Lato',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}
div{
    padding: 5px;
}
button {
    cursor: pointer;
}

#clouds {
    height: 100%;
    background-image: url("clouds.png");
    background-attachment: fixed;
    background-size: 110%;
    background-position: center 120%;
    background-repeat: no-repeat;
}

#content {
    margin-top: 100px;
    color: #f3f3f3;
    display: flex;
    margin-right: 15%;
    margin-left: 15%;
}

#content-text-and-buttons {
    animation: Opacity .75s forwards ease-out;
    letter-spacing: 2px;
}

.content-column {
    flex: 50%;
}

#content-plane.content-column {
    display: flex;
}

#content-header {
    font-size: 60px;
    margin: 100px 0px 0px 0px;
}

#plane-pic {
    margin-top: 100px;
    width: 554.25px;
    height: 224.35px;
    animation: Fly .75s forwards ease-out;
}

.content-sign-up {
    display: flex;
}


#uname {
    background: transparent;
    color: #f3f3f3;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
    
::placeholder {
    color: #f3f3f3;
    margin-left: 5px;
}
        
#sign-up {
    background: transparent;
    color: #f3f3f3;
    border: 1px solid white;
    width: 150px;
    height: 44px;
    border-radius: 5px;
    margin-left: 50px;
}

#Header {
    animation: LoadTitleBar .75s forwards ease-out;
    list-style-type: none;
    
    padding: 0;
    background: transparent;
    color: azure;
    display: flex;
    align-items: center;
    }
    
.header {
    display: inline-flex;

}
    
#company {
    align-self: left;
    margin: 10px 0 10px 0px;
    font-size: 40px;

}

#login {
    margin-left: auto;

}
#login-button-load {
    margin-right: 20px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}
    
    
    
#login-button-load:hover {
    background-color: #041d2e;

}

#register-now:hover {
    background-color: #041d2e;

}
#sign-up:hover {
    background-color: #041d2e;
}

#register-now {
    height: 4.3em;
    margin-right: 20px;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 5px;
    width: 70px;
    height: 40px;
}
    /* .buttons {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    } */
    

        
@keyframes Opacity {
    0% {
        opacity: .25;
    }

    100% {
        opacity: 1;
    }
}
        
@keyframes Fly {
    from {
        margin-top: 300px;
    }

    to {
        margin-top: 100px;
    }
}
        
@keyframes LoadTitleBar {

    from {
        opacity: .25;
        margin-right: 10%;
        margin-left: 10%;
    }

    to {
        opacity: 1;
        margin-right: 15%;
        margin-left: 15%;
    }
}